@import './assets/tailwind.css';

.translation-card {
    @apply bg-white p-6 shadow-md rounded-lg transition-all duration-300;
    width: 100%; /* Ensure card takes the full width of the container */
    overflow: hidden; /* Prevent content overflow for collapsed cards */
    
}

.translation-card.collapsed {
    height: 150px; /* Fixed height for collapsed state */
}

.translation-card.expanded {
    max-height: none; /* Let the height adjust dynamically */
    overflow: visible; /* Allow content to flow naturally */
}

.card-wrapper {
    @apply relative flex justify-center items-start;
    width: 100%;
    max-width: 1400px;
  }

.icon-container {
    @apply absolute bg-white shadow-lg p-4 rounded-lg;
    top: 16px;
    right: -80px;
    z-index: 10;
}

.icon-wrapper {
    @apply flex items-center justify-center p-2 rounded-lg shadow;
    width: 40px;
    height: 40px;
}

/* Language options dropdown styling */
.language-options {
    @apply flex flex-col items-center bg-white rounded-lg shadow-lg p-2;
    width: 70px;
}

.expand-linear-enter-active,
.expand-linear-leave-active {
    transition: all 0.2s linear;
}

.expand-linear-enter-from,
.expand-linear-leave-to {
    opacity: 0;
    transform: translateY(-10%);
}
