.translation-card {
  @apply bg-white p-8 rounded-sm transition-all duration-300;
  width: 1700px;
  overflow: hidden;
  // height: 100px; /* Default height for collapsed state */
  transition: height 0.4s ease-in-out; /* Smooth transition */
}

.translation-card.collapsed {
  height: 100px; /* Fixed collapsed height */
}

// .translation-card.expanded {
//   height: auto;  /* Remove height:auto; JavaScript dynamically sets the height */
// }

  .card-wrapper {
    @apply relative flex justify-center items-start;
    width: 100%;
    max-width: 1400px;
  }
  
  button img {
    width: 3px; /* Smaller width for arrow icons */
    height: 3px; /* Smaller height for arrow icons */
  }
  
  .icon-container {
    @apply absolute bg-white  p-4 rounded-r-xl;
    top: 0px;
    right: -60px;
    z-index: 10;
  }
  
  .icon-wrapper { /* side icon width and height */
    @apply flex items-center justify-center;
    width: 25px;
    height: 25px;
  }
  
  .fade-toggle-enter-active,
  .fade-toggle-leave-active {
    transition: opacity 0.1s ease, transform 0.1s ease;
    overflow: hidden;

  }

  .fade-toggle-enter-from,
  .fade-toggle-leave-to {
    opacity: 0;
    transform: scale(0.1s);
    overflow: hidden;

  }

  .expand-linear-enter-active,
  .expand-linear-leave-active {
    transition: all 0.2s linear;
    overflow: hidden;

  }

  .expand-linear-enter-from,
  .expand-linear-leave-to {
    opacity: 0;
    overflow: hidden;

  }

  .fade-page-enter {
    opacity: 0;
    transform: translateY(-100%);
    overflow: hidden;
  }
  
  .fade-page-leave-to {
    opacity: 0;
    transform: translateY(100%);
    overflow: hidden;
  }
  
  .fade-slide-enter-active,
  .fade-slide-leave-active {
    transition: opacity 0.5s ease, transform 0.5s ease;
    overflow: hidden;
  }
  
